<h2>Comments</h2>

<div id="comments-list">
    <div class="comment-container">
        <div class="person-info-container">
            <h3>Katy</h3>
            <p>25/06/2020</p>
            <p>15:26</p>
        </div>

        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas, minima! Nobis natus ducimus vero consequuntur odio! Vero dolores necessitatibus qui excepturi tempore, voluptate aut eum vel officiis impedit inventore iure.
        </p>
    </div>

    <div class="comment-container">
        <div class="person-info-container">
            <h3>Solomon</h3>
            <p>13/08/2020</p>
            <p>20:32</p>
        </div>

        <p>
            Yeehaw
        </p>
    </div>

    <div class="comment-container">
        <div class="person-info-container">
            <h3>Bonday</h3>
            <p>28/10/2020</p>
            <p>22:40</p>
        </div>

        <p>
            mmmmm si
        </p>
    </div>
</div>

<form action="">
    <h2>Add your comment</h2>

    <p>Name:</p>
    <input type="text">
    <p>Description:</p>
    <textarea name="" id="" cols="30" rows="10"></textarea>
    <button>Submit</button>
</form>
