<header>
    <h1>My Album</h1>
</header>

<div>
    <figure>
        <img src="https://www.visittheusa.co/sites/default/files/styles/hero_l_x2/public/images/hero_media_image/2017-05/23b0b0b9caaa07ee409b693da9bf9003.jpeg?itok=wcs97iyf" alt="">
        <figcaption>Golden State Bridge</figcaption>
    </figure>
    <figure>
        <img src="https://lh3.googleusercontent.com/proxy/ZkIxFWGJayI5gLjvlO0zHHS3404K8iW6z5gskxMwctyE1tMFxnuDYjPc5174btY9LwOzhj-ozwc9k0SRQua5W0GFnthJ7fdUiXcJM3KgWMOv91msmXMelxNds_D_o3syx60DSbwlp0MNkM2G" alt="">
        <figcaption>Nubes</figcaption>
    </figure>
    <figure>
        <img src="https://i.pinimg.com/originals/c7/82/17/c78217c3fcbe7c20e6dd3194be5aa7f9.jpg" alt="">
        <figcaption>Una imagen random de google</figcaption>
    </figure>
</div>
