header {
    background-color: rgb(29, 29, 29);
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}

h1 {
    color: white;
    margin-left: 15px;
}

div {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

img {
    width: 100%;
    border: 10px;
    border-color: white;
}

figure {
    width: 25%;
}

figcaption {
    color: white;
    font-weight: bold;
}
